.main {
    text-align: center;
    justify-content: center;
    display: flex; 
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: lightskyblue;
}

  .sub-main {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 35%;
    box-shadow: 5px 1px 5px 7px rgb(207, 207, 207);
    padding-top: 30px;
    border-radius: 60px; 
    background-color:lightsteelblue
  }
  .imgs {
      padding-top: 20px;
      justify-content: center;
      display: flex;
    }
  .container-image {
    background-color: rgb(144, 233, 103); 
    border-radius: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 115px;
    width: 115px;
  }
  .profile {
    height: 100px;
    width: 100px;
    border-radius: 130px;
  } 

  input{
      width: 300px;
      height: 50px;
      border-radius: 60px;
      /* box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.199); */
      border: none;
      outline: none;
      background-color: rgba(162, 128, 206, 0.712);
      color: black;
  }
  input:hover{
      background-color: orchid;
  }

  .email{
      height: 25px;
      width: 25px;
      position: absolute;
      padding: 14px 0 0 25px; 
  }


  .name{
      padding-left: 70px;
      font-size: 20px;
  }
  .second-input{
      padding-top: 20px;
  }

  button{
      width: 380px;
      height: 50px;
      border-radius: 20px;
      background-color:lightseagreen;
      color: black;
      font-size: 25px;
      border:rgb(165, 126, 151);
      border-style:dashed;
  }
  button:hover{
      background-color: orange;
  }
  .login-button{
      padding-top: 25px;
  }

  .link{
      font-size: 25px;
      font-weight: 400;
      color: black;
  }
   a{
       color: rgba(0, 4, 255, 0.781);
       font-size: 25px;
   }